body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.list-item {
    cursor: pointer;
    transition: text-decoration-color 0.4s ease-in-out;
    text-decoration: underline;
    text-decoration-color: transparent;
}
.list-item:hover {
    text-decoration-color: #1677ff;
}

.list-item_active {
    color: #1677ff !important;
}
